<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GaadiKey Memories</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.3.1/dist/css/splide.min.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EHL3JPDS7J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-EHL3JPDS7J');
</script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.3.1/dist/js/splide.min.js"></script>
  <script>
  document.addEventListener( 'DOMContentLoaded', function () {
    new Splide( '#image-slider' ).mount();
  } );
  </script>

 <script src="https://www.google.com/recaptcha/api.js"></script>


  <style>
 
    .grecaptcha-badge { visibility: hidden; }

    @media(max-width: 500px) {
      .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
      }
    }

    .titled {
      font-family: 'Merriweather', serif !important;
      font-size: 58px !important;
      font-weight: 400 !important;
      line-height: 64px !important;
    }

    .subtitled {
      font-family: 'Merriweather', serif !important;
      font-size: 22px !important;
      font-weight: 400 !important;
      line-height: 36px !important;
    }

    .frame {
      background: repeating-linear-gradient(45deg, transparent, transparent 32px, #ff9947 32px, #ff9947 64px);
    }
    
    .frame img {
      border-radius: 20px;
    }

.splide {
  max-width: 100%;
  text-align: center;
  margin-inline: auto;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

  </style>
</head>

<body>
  <section class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered">
          <div data-aos="fade-left" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="https://blog.gaadikey.com/wp-content/uploads/2021/11/GaadiKey-Memories_Square-1.jpeg" height="100px" width="100px"></img>
            </figure>
          </div>
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="titled title is-1 mb-6 is-size-1">
              Frame your memories!
            </h1>
            <h2 class="subtitled subtitle">
              Your special car delivery day is our priority.
            </h2>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="title titled is-1 mb-6">
              Just for you!
            </h1>
            <h2 class="subtitle subtitled">
              Your special car delivery moment captured using a high-quality DSLR camera.
            </h2>
          </div>
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd" data-aos="fade-up">
            <figure class="image is-square">
              <img src="https://bulmatemplates.github.io/bulma-templates/images/undraw_Camera_re_cnp4.svg">
            </figure>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero is-medium has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div data-aos="zoom-in-up" class="column is-8">
            <h1 class="title titled is-1 mb-6">
              Flexible <span id="typewriter"></span>
            </h1>
            <h2 class="subtitle subtitled">
              You choose, we execute!
            </h2>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title titled is-1 mb-6 has-text-centered">
          Recent Captures
        </h1>

<div id="image-slider" class="splide">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="https://blog.gaadikey.com/wp-content/uploads/2021/07/Tata-Motors-Key-Motors-Customer-Delivery-2.jpg">
			</li>
			<li class="splide__slide">
				<img src="https://blog.gaadikey.com/wp-content/uploads/2018/09/Ather-450-Customer-6.jpg">
			</li>
		</ul>
  </div>
</div>

      </div>
    </div>
  </section>

  <br/><br/>
  <br/><br/>
  <br/><br/>

  <section class="container">
    <h1 class="titled title is-1 mb-6 has-text-centered">Choose your plan</h1>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
        	  <p class="title"><s>&#8377; 1,999</s> FREE</p>
<!--           <p class="title">&#8377; 4,999</p>
 -->          <p class="subtitle">Starter</p>
          <div class="content">
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
             High Quality DSLR Photograph (Digital)
            <br/>
            <span class="icon has-text-success">
            <i class="fas fa-check-square"></i>
            </span>
            An Interview featured at <a href="https://memories.gaadikey.com/stories">GaadiKey Stories</a>
            <br/>
            <span class="icon has-text-success">
            <i class="fas fa-check-square"></i>
            </span>
            2 Barbeque Nation &#8377;500 Coupons
            <br/>

          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">&#8377; 6,999</p>
          <p class="subtitle">Professional</p>
          <div class="content">
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Everything included in Starter plan
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Memories Digital Kit
            <br/>
            <span class="icon has-text-success">
            <i class="fas fa-check-square"></i>
            </span>
            4 Barbeque Nation &#8377;500 Coupons
            <br/>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">&#8377; 11,999</p>
          <p class="subtitle">Expert</p>
          <div class="content">
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Everything included in Professional plan
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            High-Quality Frame
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Short Video Clip
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Printed Photo Album
            <br/>
            <span class="icon has-text-success">
             <i class="fas fa-check-square"></i>
            </span>
            4 Barbeque Nation &#8377;500 Coupons
            <br/>
          </div>
        </article>
      </div>
    </div>
  </section>

  <br/><br/>
  <br/><br/>

  <div class="has-text-centered">
  	 <a href="https://docs.google.com/forms/d/1cEsGKYOphXjvuSwdP5ZdYpT9nuy1FS9WuSaZ9OKkXxY"><button class="button is-warning is-large">Schedule Now!</button></a>
<!--      <a href="https://chethan530641.typeform.com/to/Pvg1YR9T"><button class="button is-warning is-large">Schedule Now!</button></a>
 -->     <!--a href="https://docs.google.com/forms/d/1cEsGKYOphXjvuSwdP5ZdYpT9nuy1FS9WuSaZ9OKkXxY"><button class="button is-warning is-large">Schedule Now!</button></a-->
  </div>

  <br/><br/>
  <br/><br/>

  <!--div class="has-text-centered">
  <form method="post" action="https://postbox.gaadikey.com/subscription/form" class="listmonk-form">
    <div>
        <h3>Subscribe</h3>
        <p><input type="text" name="email" placeholder="E-mail" /></p>
        <p><input type="text" name="name" placeholder="Name (optional)" /></p>
      
        <p>
          <input id="c7394" type="checkbox" name="l" checked value="c7394d10-b4cc-46c4-8a53-3dcbbc056871" />
          <label for="c7394">Opt-in list</label>
        </p>

        <p><input type="submit" value="Subscribe" /></p>
    </div>
</form>
   </div-->
<!-- <section class="container">
<script>
   function subscribeOnSubmit(token) {
console.log("The token is "+token); 
var field = document.getElementById("captchaResponse");
  field.value = token;
document.getElementById("subscription").submit();
   }
 </script>  

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">

<h1 class="titled title is-2 mb-6 has-text-centered">Subscribe by Email</h1>
  <div class="columns is-justify-content-center">
    <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
      <form method="POST" action="https://postbox.gaadikey.com/subscription/form" id="subscription" class="box p-5">

        <label class="is-block mb-4">
          <span class="is-block mb-2">Name (Optional)</span>
          <input
            required
            name="name"
            type="text"
            class="input"
            placeholder="Your Name"

          />
        </label>

        <label class="is-block mb-4">
          <span class="is-block mb-2">Email address</span>
          <input
            required
            name="email"
            type="email"
            class="input"
            placeholder="example@gmail.com"
            required
          />
        </label>
        <p>
          <label class="checkbox">
          <input id="2d10" type="checkbox" name="uuid" checked value="35364bae-6901-4065-bc63-bd6e3b22f1d5" /> </label>
          <label for="c7394">GaadiKey Memories Newsletter</label>
        </p>
        <input id="captchaResponse" name="response" type="hidden" value="" />
        <input id="sender" name="sender" type="hidden" value="memories.gaadikey.com" />
        <br/>

        <div class="mb-4">
          <button type="submit" value="Subscribe" class="button is-link px-4 g-recaptcha" data-sitekey="6LfHG4EeAAAAACR4sYNkfz8xTMqtEdLd9ciY2tVg" data-callback="subscribeOnSubmit" data-action="submit">Subscribe</button>
        </div>

        <div>
          <div class="is-size-7 has-text-right">
            by
            <a
              href="https://blog.gaadikey.com"
              class="has-text-dark"
              target="_blank"
              >GaadiKey</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</section> -->



  <section class="container">
    <p>Copyright &copy; 2022 GaadiKey Media Private Limited</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i> +91 080 2991-8428</p>
    <p><i class="fa fa-address-card" aria-hidden="true"></i> #97 Second Cross, PR Layout, First Main Road, Sheshadipuram, Bangalore 560020</p>
  </section>

  <br/><br/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
  <script>
    new Typewriter('#typewriter', {
      strings: ['Pricing', 'Timing'],
      autoStart: true,
      loop: true,
    });
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true
    });
  </script>

  <div class="has-text-centered">
  	<!-- Facebook -->
<a class="btn btn-primary"  href="https://www.facebook.com/gaadikey" role="button"
  ><i class="fab fa-facebook-f fa-3x"></i
></a>

<!-- Twitter -->
<a class="btn btn-primary"  href="https://twitter.com/GaadikeyMemory" role="button"
  ><i class="fab fa-twitter fa-3x"></i
></a>

<!-- Instagram -->
<a class="btn btn-primary"  href="https://www.instagram.com/gaadikey/" role="button"
  ><i class="fab fa-instagram fa-3x"></i
></a>

<!-- Whatsapp -->
<a class="btn btn-primary" href="https://wa.me/919739888428" role="button"
  ><i class="fab fa-whatsapp fa-3x"></i
></a>

  </div>

</body>

</html>
